

.fade-out {
    animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0.5;
    }

    50% {
        opacity: 0.2;
    }

    75% {
        opacity: 0.1;
    }

    100% {
        opacity: 0;
    }
}
