<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title> DeveloperEng Dashboard</title>

    <link rel="apple-touch-icon" sizes="76x76" href="/softui/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="/softui/assets/img/favicon.png">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />

    <link href="/softui/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="/softui/assets/css/nucleo-svg.css" rel="stylesheet" />
    
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="/softui/assets/css/nucleo-svg.css" rel="stylesheet" />
    
    <link id="pagestyle" href="/softui/assets/css/soft-ui-dashboard.css?v=1.0.7" rel="stylesheet" />
   
    <script defer data-site="YOUR_DOMAIN_HERE" src="https://api.nepcha.com/js/nepcha-analytics.js"></script>

    <link href="/softui/assets/css/main.css" rel="stylesheet" />

    <style>
        #message {
            display: none; /* Başlangıçta gizli */
        }
    </style>


</head>
